
/* Here we are display the navigation bar to flex-end and changing the background colour */
nav {
    display: flex;
    justify-content: flex-end;
    background-color: #3933eb;
  }
  /* This is the styling for the links in the navigation bar. Taking away the undlerline link, changing the colour and spacing. */
  nav a {
    color: #d5dfe9;
    padding: 14px 20px;
    text-decoration: none;
    text-align: right;
  }

/*All of my h2 headers will align center.  */
h2 {
    text-align: center;
}
/* This is the hero image of my work desk that is the background for the top of the page. */
.hero-desk {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  position: relative;
}
/* This aligns the text, positions them, and changes the font colour. */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* This sets the background colour, text colour, and font family for the whole body. */
body{
    font-family: font-family: "Times New Roman", Times, serif;
    color:  #001f3f;
    background-color: #caebf2;
}
/* This is the characteristics of the profile picture including the border radius making it a circle. Also the shadow, and size. */
.profile-picture {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 6px rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;

}
/* When the cursor hovers over the profile picture there is a slight shadow. */
profile-picture:hover {
    box-shadow: 0 8px 12px 0 rgba(34,60,80, .16);
}
	/* These are properties for all of the placeholder images for future projects. */
.project-image {
    display: flex;
    flex:1 1 100%;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;
    max-height: 400px;
	justify-self: center;
    padding: 4%;
    
}
/* Allows the user to interact with the photos when they hover the cursor over them. */
.project-image:hover {
    filter: brightness(.75);
    box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
}
/* These are the flexbox properties that allow the images to flex and be responsive to smaller screens. */
.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    flex-wrap: wrap;
}   
 /*These media queries allow specific aspects of the website to be more responsive for different screen sizes and devices.  */
@media screen and (max-width: 900px) {
    .projects {
    flex-direction: column;
    }
    .card:first-of-type {
        flex: 0  40%;
    }
    .project image {
        width: 100%;
        height: 400px;
    }
    .profile-picture{
        width:150px;
        height:150px;
    }
}
@media screen and (max-width: 600px) {
   
    .card:first-of-type {
        flex: 0 0 5%;
    }
    .project image {
        width: 100%;
        height: 400px;
    }
    .profile-picture{
        width:100px;
        height:100px;
    }
   .hero-text h1 {
        size: 100px;
    }
}

@media screen and (max-width: 541px) {
   
    .hero-text p  {
        display: none;
    }
    
}
@media screen and (max-width: 376px) {
.hero-text h1 {
    font-size: x-small;
    color:#13293d;
}
#about-me {
    text-align: left;
}
}

/* This allows my first project image to be twice the size of the others. */
.card:first-of-type {
    flex-basis: 80%;
}
/* These are the properties of the other project cards. */
.card {
    flex: 0 0 40%;
    padding: 10px;
    text-align: center;
    border-style: none;
  }
  /* The properties of the card header. */
  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  /* This sets the size of the images inside in card. */
  .card img {
    width: 100%;
    height: 100%;
  }
  /* Sets properts for the projects grid. */
.projects-grid {
    display:  grid;
    grid-template-columns: 50% 50%;
}
/* These allow the links to flex and fit in the bottom of the page in the right side of the footer. */
.links-grid {
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: right;
}
/* These are the properties for the form. This is currently not functional enough to send me and email but will be once I have learned how to do this */
form{
    width: 250px;
    margin: 0 auto
}

form input[type="submit"] {
    width: 250px;
}

.submit-button-wrapper{
    margin: 20px 0;
}






